<!DOCTYPE html>
<html lang="en">
<head>
    {% include "header.html" %}
</head>
<body>
    <section class="white-section">
        <div class="container">
            <div class="row">
                <div class="contact">
                    <h1 class="greetings">Thanks for taking the time to reach out. How can I help you today?</h1>
                    <form class="contact-form" action="{{ url_for('contact') }}" method="post">
                      <label class="contact-label">Name:</label>
                      <input type="text" id="name" name="name" size="35"><br><br>
                      <label class="contact-label">Email:</label>
                      <input type="text" id="email" name="email" size="35"><br><br>
                      <label class="contact-label message">Message:</label>
                      <textarea id="message" name="message"></textarea><br>
                      <button class="btn btn-lg btn-dark submit-btn" id="submitButton" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    {% include "footer.html" %}